* {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  padding: 12px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
  }
}


button {
  background-color: black;
  border: none;
  padding: 12px;
  color: white
}



.mainImage {

  img {
    width: 100%;
  }
}

.BandSection {
  padding: 80px 400px;

  h1 {
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    text-align: center;
  }

  h4 {
    text-align: center;
    padding: 20px 0;
    color: rgb(134, 133, 133);
    font-family: "Quicksand", sans-serif;
  }

  p {
    text-align: justify;
    line-height: 1.2;
  }


  .usersCards {
    display: flex;
    justify-content: space-between;
    margin: 70px 0;

    p {
      text-align: center;
      padding-bottom: 20px;
    }

    img {
      width: 170px;
    }
  }
}

.tour_dates {
  background-color: black;
  color: white;
  padding: 80px 400px;

  h1 {
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    text-align: center;
  }

  h4 {
    text-align: center;
    padding: 20px 0;
    color: rgb(134, 133, 133);
    font-family: "Quicksand", sans-serif;
  }

  .months {
    background-color: white;
    color: black;

    p {
      padding: 10px;
    }

    span {
      background-color: red;
      color: white;
      padding: 3px 8px;
      margin-left: 10px
    }

    .three {
      background-color: black;
      color: white;
      padding: 3px 8px;
      margin-left: 600px;
      border-radius: 20px;
    }
  }


  .city {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;

    .card {
      width: 32%;
      background-color: white;
      color: black;

      img {
        width: 100%;
      }

      h3 {
        padding: 10px;
      }

      p {
        padding: 10px;

      }

      button {
        margin: 10px;
        padding: 10px 20px;
      }
    }
  }

}




.contact {
  padding-bottom: 100px;

  h1 {
    text-align: center;
    margin-top: 80px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 30px;
  }

  h4 {
    text-align: center;
    color: #7a7a7a;
    padding-bottom: 30px;
  }

  .information {
    margin: 0 400px;
    display: flex;
  }

  .contact_details {
    width: 50%;

    p {
      font-size: 20px;
      padding: 10px 0;
    }
  }

  .form {
    width: 50%;

    input {
      height: 30px;
      padding-left: 10px;
    }

    .m{
      width: 95%;
      margin-top: 5px;
    }

    button{
      margin-top: 5px;
      width: 100%;
    }
  }
}

.location{
  img{
    width: 100%;
  }
}

footer{
  text-align: center;
  margin: 70px;

  i{
    font-size: 20px;
  }
}